@font-face {
	font-family: audrey;
	src: url(Audrey/Audrey.otf) format(opentype);
}

#home {
	background-image: white  url("Images/background.jpg") no-repeat center;
	background-size: cover;
	height: 98vh;
	width: 99vw;
	position: absolute;
}

#logo {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 75px;
	height: 75px;
}

#name {
	font-family: audrey;
	text-align: right;
	color: white;
	font-size: 74px;
	margin-top: 75vh;
	margin-bottom: 0px;
}
