@font-face {
	font-family: audrey;
	src: url(Audrey/Audrey.otf) format(opentype);
}

#home {
	background-image: url("Images/background.jpg");
	width: 100%;
	background-color: white;
}

h2 {
	font-family: audrey;
}
